
@model Hotel5Stars.Models.ViewModels.ReservationViewModel

@{
    ViewData["Title"] = "Reservation Details";
}

<h1>Reservation Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Customer Last Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerLastName)
        </dd>
        <dt class="col-sm-2">
            Room Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class="col-sm-2">
            From Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FromDate)
        </dd>
        <dt class="col-sm-2">
            To Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt class="col-sm-2">
            Deposit
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposit)
        </dd>
        <dt class="col-sm-2">
            Rate
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class="col-sm-2">
            Details
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
    </dl>
</div>

<div>
    <h4>Additional Services</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model.AdditionalServices)
            {
                <tr>
                    <td>@service.Name</td>
                    <td>@service.Date.ToString("yyyy-MM-dd")</td>
                    <td>@service.Quantity</td>
                    <td>@service.Price.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
